/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "tailwindcss";
@tailwind utilities;
@plugin "tailwindcss-animate";

/* :root { */
/*   --base03: #002b36; */
/*   --base02: #073642; */
/*   --base01: #586e75; */
/*   --base00: #657b83; */
/*   --base0: #839496; */
/*   --base1: #93a1a1; */
/*   --base2: #eee8d5; */
/*   --base3: #fdf6e3; */
/*   --yellow: #b58900; */
/*   --orange: #cb4b16; */
/*   --red: #dc322f; */
/*   --magenta: #d33682; */
/*   --violet: #6c71c4; */
/*   --blue: #268bd2; */
/*   --cyan: #2aa198; */
/*   --green: #859900; */
/* } */
/**/
/* @theme { */
/*   --color-background: var(--base3); */
/*   --color-foreground: var(--base00); */
/**/
/*   --color-muted: transparent; */
/*   --color-muted-foreground: var(--base1); */
/**/
/*   --color-popover: 0 0% 100%; */
/*   --color-popover-foreground: 240 10% 3.9%; */
/**/
/*   --color-border: var(--color-foreground); */
/*   --color-input: 240 5.9% 90%; */
/**/
/*   --color-card: var(--base2); */
/*   --color-card-foreground: var(--color-foreground); */
/**/
/*   --color-primary: var(--base03); */
/*   --color-primary-foreground: var(--color-background); */
/**/
/*   --color-secondary: var(--color-foreground); */
/*   --color-secondary-foreground: var(--color-background); */
/**/
/*   --color-accent: var(--base0); */
/*   --color-accent-foreground: initial; */
/**/
/*   --color-destructive: var(--red); */
/*   --color-destructive-foreground: var(--base3); */
/**/
/*   --color-info: var(--color-background); */
/*   --color-info-foreground: var(--blue); */
/**/
/*   --color-success: var(--color-background); */
/*   --color-success-foreground: var(--green); */
/**/
/*   --color-warning: var(--color-background); */
/*   --color-warning-foreground: var(--orange); */
/**/
/*   --color-error: var(--color-background); */
/*   --color-error-foreground: var(--red); */
/**/
/*   --color-ring: 240 5.9% 10%; */
/**/
/*   --radius: 0.5rem; */
/* } */
/**/
/* @theme dark { */
/*   --color-background: var(--base03); */
/*   --color-foreground: var(--base0); */
/**/
/*   --color-muted: transparent; */
/*   --color-muted-foreground: var(--base01); */
/**/
/*   --color-primary: var(--base2); */
/*   --color-primary-foreground: var(--color-background); */
/**/
/*   --color-popover: 240 10% 3.9%; */
/*   --color-popover-foreground: 0 0% 98%; */
/**/
/*   --color-input: 240 3.7% 15.9%; */
/**/
/*   --color-card: var(--base02); */
/*   --color-card-foreground: var(--base1); */
/**/
/*   --color-accent: var(--base00); */
/*   --color-accent-foreground: var(--base2); */
/**/
/*   --color-ring: 240 4.9% 83.9%; */
/* } */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --info: oklch(0.95 0.024 236.81);
  --info-foreground: oklch(0.68 0.148143 238.1044);
  --success: oklch(0.95 0.0506 162.83);
  --success-foreground: oklch(0.69 0.1481 162.37);
  --warning: oklch(0.96 0.0569 95.61);
  --warning-foreground: oklch(0.71 0.186 48.13);
  --error: oklch(0.93 0.0314 17.73);
  --error-foreground: oklch(0.64 0.2082 25.38);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
  --safe-left: env(safe-area-inset-left, 0px);
  --safe-right: env(safe-area-inset-right, 0px);
}

.dark,
[data-kb-theme="dark"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);

  --info: oklch(0.28 0.0875 267.91);
  --info-foreground: oklch(0.68 0.148143 238.1044);
  --success: oklch(0.26 0.0487 172.54);
  --success-foreground: oklch(0.69 0.1481 162.37);
  --warning: oklch(0.29 0.0638 53.82);
  --warning-foreground: oklch(0.71 0.186 48.13);
  --error: oklch(0.26 0.0886 26.05);
  --error-foreground: oklch(0.64 0.2082 25.38);

  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--kb-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--kb-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: scale(0.96);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes content-hide {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: 0;
      transform: scale(0.96);
    }
  }
  /* --font-mono: "Noto Sans Mono", ui-monospace, monospace; */
  /* --font-sans: */
  /*   "Noto Sans", uui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", */
  /*   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* --font-mono: "Source Code Pro", ui-monospace, monospace; */
  --font-mono: "Google Sans Code", ui-monospace, monospace;
  /* --font-mono: "Inconsolata", ui-monospace, SFMono-Regular, Menlo, Monaco, */
  /*   Consolas, "Liberation Mono", "Courier New", monospace; */
  --text-trim-both: trim-both;
  --text-trim-start: trim-start;
  --text-trim-end: trim-end;
  --text-edge-cap-alphabetic: cap alphabetic;
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply -ml-12.5 -mt-1;
    content: counter(step);
  }
}

@utility textbox-trim-* {
  text-box-trim: --value(--text-trim-*, "none");
}

@utility textbox-edge-* {
  text-box-edge: --value(
    --text-edge-*,
    "text",
    "alphabetic",
    "ideographic",
    "cap",
    "ex",
    [*]
  );
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-accent;
}

::-webkit-scrollbar-corner {
  display: none;
}

html,
body,
#root {
  @apply w-dvw h-dvh overflow-clip overscroll-none m-0 p-0;
}

.scale-text-shadow {
  text-shadow:
    1px 1px 0 var(--color-background),
    -1px 1px 0 var(--color-background),
    -1px -1px 0 var(--color-background),
    1px -1px 0 var(--color-background);
}

:fullscreen {
  padding: var(--safe-top) var(--safe-right) var(--safe-bottom) var(--safe-left);
}

@utility fancy-bg-* {
  background-color: --alpha(--value(--color-*) / 50%);
  @apply backdrop-blur-lg;

  .disable-transparency-effects & {
    background-color: --alpha(--value(--color-*) / 80%);
    @apply backdrop-blur-none;
  }
}

.disable-transparency-effects {
  .backdrop-blur-3xl,
  .backdrop-blur-2xl,
  .backdrop-blur-xl,
  .backdrop-blur-lg,
  .backdrop-blur-md,
  .backdrop-blur-sm,
  .backdrop-blur-xs {
    @apply backdrop-blur-none;
  }
}
