@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/pxijyogzv91QhV44Z_GQBHsGf5PuWEt-oWZnOk-ljWSpwaFB6rqcd6jvHiMYuidj8Akn.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/pxijyogzv91QhV44Z_GQBHsGf5PuWEt-oWZnOk-ljWSpwaFB6rqcd6jvHiMYuic98Akn.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/pxijyogzv91QhV44Z_GQBHsGf5PuWEt-oWZnOk-ljWSpwaFB6rqcd6jvHiMYuicP8Akn.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/pxijyogzv91QhV44Z_GQBHsGf5PuWEt-oWZnOk-ljWSpwaFB6rqcd6jvHiMYuifj9wkn.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/pxijyogzv91QhV44Z_GQBHsGf5PuWEt-oWZnOk-ljWSpwaFB6rqcd6jvHiMYuifa9wkn.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/pxijyogzv91QhV44Z_GQBHsGf5PuWEt-oWZnOk-ljWSpwaFB6rqcd6jvHiMYuie99wkn.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/pxihyogzv91QhV44Z_GQBHsGf5PuckJMZfIVTPZaiXEp_ht12EVEHsN1sCQNLGTVsw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/pxihyogzv91QhV44Z_GQBHsGf5PuckJMZfIVTPZaiXEp_ht12EVEHsN1sCQNcmTVsw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/pxihyogzv91QhV44Z_GQBHsGf5PuckJMZfIVTPZaiXEp_ht12EVEHsN1sCQNQGTVsw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/pxihyogzv91QhV44Z_GQBHsGf5PuckJMZfIVTPZaiXEp_ht12EVEHsN1sCQNrGPVsw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/pxihyogzv91QhV44Z_GQBHsGf5PuckJMZfIVTPZaiXEp_ht12EVEHsN1sCQNlWPVsw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/pxihyogzv91QhV44Z_GQBHsGf5PuckJMZfIVTPZaiXEp_ht12EVEHsN1sCQN8mPVsw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRhLCg.ttf) format("truetype");
}
